<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="address" class="com.joker.pojo.Address"/>

    <bean id="student" class="com.joker.pojo.Student">
<!--    1. 普通值注入-->
    <property name="name" value="joker"/>
<!--        2.bean注入-->
    <property name="address" ref="address"/>
<!--        3 数组注入-->
        <property name="books">
            <array>
                <value>红楼</value>
                <value>水浒</value>
                <value>三国</value>
                <value>西游</value>
            </array>
        </property>
<!--        list-->
        <property name="habbies">
            <list>
                <value>sing</value>
            </list>
        </property>
<!--        map-->
        <property name="card">
            <map>
                <entry key="id" value="123"/>
                <entry key="bankCard" value="456"/>
            </map>
        </property>
<!--        set-->
        <property name="games">
            <set>
                <value>lol</value>
                <value>roe</value>
            </set>
        </property>
<!--        null-->
        <property name="flag">
            <null/>
        </property>
<!--        properties :也是K-V，不过value值在外面-->
        <property name="info">
            <props>
                <prop key="学号">34234242</prop>
                <prop key="姓名">joker</prop>
            </props>
        </property>
    </bean>

</beans>